<style>
    header{
        height: 10em;
        /*background-color: aquamarine;*/
        border-bottom: 3px solid blanchedalmond;
    }
    body{
      /*  background-color: teal;*/
    }
</style>
<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>